[submodule "library/text/json"]
	path = library/text/json
	url = http://github.com/Eiffel-World/ejson-ise-svn.git
[submodule "library/server/fcgi/libfcgi"]
	path = library/server/fcgi/libfcgi
	url = http://github.com/EiffelSoftware/libfcgi.git
[submodule "library/server/nino"]
	path = library/server/nino
	url = http://github.com/Eiffel-World/EiffelWebNino.git
[submodule "wiki"]
	path = wiki
	url = http://github.com/EiffelSoftware/EiffelWebReloaded.wiki.git
